<!DOCTYPE HTML>
<html>
  <head>
    <title>/cyltrack/</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
  </head>
  <body>
    <div class="container" role="main">
    <h1>/Facility/</h1>
    
    <form method="post" id="usrForm">
     <fieldset>
      <div class="left-column">
	    <label for="facName">Facility Name</label> 
	    <input type="text" name="facilityName" value="{{facilityName}}" id="facName" placeholder="xyz factory/customer">
	    <label for="facOwn">Facility Ownership</label>
	    <select name="ownFacility" id="facOwn">
	        <option value="own">Own</option>
		<option value="customer">Customer</option>
	    </select>
	    <label for="facType">Facility Type</label>
	    <select name="facilityType" id="facType">
	        <option value="factory">Factory</option>
		<option value="godown">Godown</option>
		<option value="customer">Customer</option>
	    </select>
	    <label>
	      Street Address 
	      <textarea name="streetAddress">{{streetAddress}}</textarea>
	    </label>
	    <label>
	      City 
	      <input type="text" name="city" value="{{city}}">
	    </label>
	    <label>
	      State 
	      <input type="text" name="state" value="{{state}}">
	    </label>
	    <label>
	       Pincode 
	      <input type="tel" name="pincode" value="{{pincode}}">
	    </label>
	    <label>
	      Phone Number 
	      <input type="number" name="phoneNumber" value="{{phoneNumber}}">
	    </label>
      </div>
      </fieldset>
      <div class="error">{{error}}</div>

      <input class="btn" type="submit">
    </form>
    
    <hr>

    {% for cylinder in cylinders %}
      <div class="cylinder">
        <div class="cylinder-id">
	  {{cylinder.id}}  
	</div>
	<pre class="-body">{{art.art}}</pre>
      </div>
    {% endfor %}
    <div class="container">
  </body>
</html>
