<!DOCTYPE HTML>
<html>
  <head>
    <title>Add or modify cylinder details</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
  </head>
  <body>
    <div class="container" role="main">
    <h1>/Cylinder/</h1>
    
    <form method="post">
      <fieldset>
	    <label>
	      Cylinder BarCode 
	      <input type="text" name="barcode" value="{{barcode}}">
	    </label>
	    <label>
	      Capacity 
	      <input type="number" name="capacity" value="{{capacity}}">
	    </label>
	    <label>
	      Manufacturer 
	      <input type="text" name="manufacturer" value="{{manufacturer}}">
	    </label>
	    <label>
	      Year Of Manufacturing 
	      <input type="number" name="yearOfMfg" value="{{yearOfMfg}}">
	    </label>
	    <label>
	      Tare Weight 
	      <input type="number" name="tareWeight" value="{{tareWeight}}">
	    </label>
	    <label>
	      Last Test Date 
	      <input type="date" name="lastTestDate" value="{{lastTestDate}}">
	    </label>
	    <label>
	      Test Frequency (months) 
	      <input type="number" name="testFrequency" value="{{testFrequency}}">
	    </label>
	    <label>
	      Current Facility 
	      <select name="currentFacility">
	        {% for facility in facilities%}
		  <option value="{{facility.key.urlsafe()}}">{{facility.name}}</option>
	        {% endfor %}
	      </select>
	    </label>
	    <label>
	      Filled 
	      <select name="filled">
		  <option value="true">True</option>
		  <option value="false">False</option>
	      </select>
	    </label>

      </fieldset>
      <input type="submit" class="btn">
      </div>
      <div class="error">{{error}}</div>

    </form>
    
    <hr>
</html>
