<!DOCTYPE HTML>
<html>
  <head>
    <title>Facilities</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.min.css" />
  </head>
  <body class="page--styleguide">
    <div class="container">
    <h1>Facilities Dashboard</h1>
    <table class="table-4">
      <thead>
        <tr>
	  <th>Facility Name</th>
	  <th>Empty Cylinders</th>
	  <th>Full Cylinders</th>
	</tr>
      </thead>
      <tbody>
        {% for key in facilityStats %}
        <tr>
	  <td>{{facilityStats[key]["name"]}}</td>
	  <td>{{facilityStats[key]["emptyCylinders"]}}</td>
	  <td>{{facilityStats[key]["fullCylinders"]}}</td>
        {% endfor %}
	</tr>
      </tbody>
    </table>
    </div>
  </body>
</html>
