<!DOCTYPE HTML>
<html>
  <head>
    <title>Facilities</title>
  </head>
  <body>
    <h1>Facilities Dashboard</h1>
    <table class="facilities-dashboard">
      <thead>
        <tr>
	  <th>Facility Name</th>
	  <th>Empty Cylinders</th>
	  <th>Full Cylinders</th>
	</tr>
      </thead>
      <tbody>
        {% for key in facilityStats %}
        <tr>
	  <td>{{facilityStats[key]["name"]}}</td>
	  <td>{{facilityStats[key]["emptyCylinders"]}}</td>
	  <td>{{facilityStats[key]["fullCylinders"]}}</td>
        {% endfor %}
	</tr>
      </tbody>
    </table>
  </body>
</html>
